@media (max-width: 1300px){

    /* --------------navbar----------------- */
    .header_wrapper .menu-navbar-nav{
        width: auto;
    }

}

@media (max-width: 1230px){

/* ------------------navbar----------------------- */
 .header_wrapper .nav-item{
    margin: 0 5px;
 }

 .header_wrapper .learn-more-btn{
    padding: 1.2rem 1rem !important;
 }

  /* ----------------banner------------------------------- */

  .banner_wrapper .banner-title{
    font-size: 5rem;
}

}

@media (max-width: 1070px){
  
     /* -----------------navbar-------------------------- */
    .header_wrapper .nav-item .nav-link{
        font-size: 1.6rem;
    }

      /* ----------------banner------------------------------- */

  .banner_wrapper .banner-title{
    font-size: 3.6rem;
}

/* ---------------about-section-------------------------------- */

.about_wrapper .about_title{
    font-size: 1.6rem;
}

}

@media (max-width: 991px){
    .header_wrapper .navbar-brand img{
        width: 180px;
    }

    .header_wrapper .navbar-toggler:focus{
        box-shadow: none;
        border: unset;
    }

    .header_wrapper .navbar .menu-navbar-nav{
        text-align: center;
    }

    .header_wrapper  .nav-item .nav-link{
        margin-top: 1.5rem;
        font-size: 1.8rem;
    }

    .header_wrapper .navbar .nav-item:last-child .nav-link{
        margin-bottom: 2rem;
    }

    .header_wrapper .learn-more-btn{
        padding: 1.2rem 2.9rem !important;
    }

    .header_wrapper .navbar-collapse{
        background: var(--bg-white);
    }

    /* -----------------about-section---------------------- */

    .about_wrapper .about_title{
        font-size: 2rem;
    }

    .about_wrapper .about_number{
       margin: 2rem auto;
    }

}

@media (max-width: 767px){

/* -----------banner-section---------------------- */

.banner_wrapper{
    padding: 10rem 0 10rem;
}

.banner_wrapper .row{
    flex-direction: column-reverse;
}

.banner_wrapper .learn-more-btn-section{
    justify-content: center;
}

/* ----------------pricing-section--------------- */

.free_trial .free_title{
    font-size: 2.4rem;
}

/* --------------faq-section----------- */
.faq_wrapper .accordion-button{
    font-size: 1.8rem;
}

/* ----------------footer-section------------- */
.footer_wrapper .footer_logo img{
    max-width: 50%;
}
}
