@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* ------Background-color---------------- */
    --bg-black: #090b3c;
    --bg-white: #ffffff;
    --bg-light-white: #fcfcfc;
    --bg-light-2: #f2f7fa;
    --bg-dark-green: #0e9d80;
    --bg-features-1: #fff6d6;
    --bg-features-2: #ebdcf9;
    --bg-features-3: #ddf5fc;
    --bg-features-4: #dcf6e8;
    --bg-features-5: #f8e4e1;
    --bg-features-6: #fbffd4;

    /* --------Text-color------------ */
    --text-black:#000000;
    --text-white: #ffffff;
    --text-dark-gray: #4c535d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #A0A0A0;
    --text-dark-green: #12c4a0;
    --text-orange: #ff5d2a;
    --text-yellow: #ffc100;

    /* --------Fonts-------------- */

    --primary-font: 'Quicksand', sans-serif;
    --secondary-font:'Poppins', sans-serif;
    --normal-font-weight: 400;
    --bold-font-weight: 700;

}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

body{
    font-family: var(--primary-font);
    font-weight: var(--normal-font-weight);
    background-color: var(--bg-white);
}

/* ---------------Utility classses------------------------- */

.learn-more-btn{
    background-color: var(--bg-black);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-white) !important;
    padding: 1.2rem 2.9rem !important;
    border-radius: 1rem;
    border: 2px solid var(--bg-black);
    box-shadow: 0 1rem 2rem rgb(0 0 0 /10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.btn-extra-header{
    color: var(--text-dark-gray) !important;
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

/* -----------------Navbar styling----------------------- */

.header_wrapper .navbar{
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    
}

.header_wrapper .navbar-brand img{
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav{
    width: 70%;
    display: flex;
    justify-content: center;
}

.header_wrapper .nav-item{
    margin: 0 1rem;
}
 
.header_wrapper .nav-item .nav-link{
    font-size: 1.8rem;
    font-weight: var(--bold-font-weight);
    color: var(--text-dark-gray);
    line-height: 1;
}

.header_wrapper .nav-item .nav-link.active{
    color: var(--text-dark-green);
}

.header-scrolled{
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);

}

.header-scrolled .navbar-brand img{
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated{
    0%{
        width: 210px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 190px;
    }
}

.header-scrolled .nav-item .nav-link{
    font-size: 1.7rem;
}

/* ----------------banner styling----------------------- */
.banner_wrapper{
    display: flex;
    width: 100%;
    padding: 10rem 0 12.5rem;
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.banner_wrapper .banner-subtitle{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: var(--text-light-3);
}

.banner_wrapper .banner-title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 6rem;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 2.5rem;
    color: var(--text-black);
    
}

.banner_wrapper .banner-title span{
    color: var(--text-dark-green);
}

.banner_wrapper .banner-title-text{
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 4rem;
    max-width: 450px;
    color: var(--text-light-2);
}

.banner_wrapper .learn-more-btn-section{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2rem;
}

.banner_wrapper .header-img-section img{
    width: 100%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(2rem);
    }
    100%{
        transform: translateY(0px);
    }
}

/* ---------------------Client-styling------------------------- */

.clients{
    padding: 8rem 0 5rem;
    background-color: var(--bg-light-2) !important;
    
}

.clients h2{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 4rem;
    color: var(--text-light-2);

}

.client-slider-section .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.client-slider-section img{
    width: auto !important;
    height: 5rem;
    object-fit: cover;
}

/* ----------------About-section-styling----------------------------- */
.about_wrapper{
    padding: 10rem 0 0;
}

.about_wrapper .about_number{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 2.4rem;
    padding: 0.4rem 1.7rem;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    max-width: 4.4rem;
    color: var(--text-white);
    background-color: var(--bg-dark-green);
}

.about_wrapper .about_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.25;
    max-width: 100rem;
    margin-bottom: 2.5rem;
    color: var(--text-black);
}

.about_wrapper .about_text{
    
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7;
    max-width: 70rem;
    color: var(--text-light-2);

}

.about_wrapper .innovate{
    background-color: var(--bg-light-2);
    padding: 8rem 0;
}

.about_wrapper .projects{
    padding: 3rem 0;
}

.about_wrapper .projects h2{
    color: var(--text-orange);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.5;
    margin-bottom: 0;
}

.about_wrapper .projects p{
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
    
}

/* ---------------------Features-section-styling-------------------------- */

.features_wrappper{
    padding: 10rem 0 8rem;
    background-color: var(--bg-light-2);
}

.features_wrappper .features_subtitle{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--text-light-2);
}

.features_wrappper .features_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 2.5;
    margin-bottom: 2.5rem;
    color: var(--text-black);
}

.features_wrappper h3{
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 2rem;
    color: var(--text-black);
}

.features_wrappper .features_text{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

.features_wrappper .ft-1{
    background: var(--bg-features-1);
    padding: 4rem;
    border-radius: 1.5rem;
}

.features_wrappper .ft-1:before{
    content: url(../images/consultancy.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrappper .ft-2{
    background: var(--bg-features-2);
    padding: 4rem;
    border-radius: 1.5rem;
}

.features_wrappper .ft-2:before{
    content: url(../images/solutions.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrappper .ft-3{
    background: var(--bg-features-3);
    padding: 4rem;
    border-radius: 1.5rem;
}

.features_wrappper .ft-3:before{
    content: url(../images/simple.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrappper .ft-4{
    background: var(--bg-features-4);
    padding: 4rem;
    border-radius: 1.5rem;
}

.features_wrappper .ft-4:before{
    content: url(../images/deadline.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrappper .ft-5{
    background: var(--bg-features-5);
    padding: 4rem;
    border-radius: 1.5rem;
}

.features_wrappper .ft-5:before{
    content: url(../images/data.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrappper .ft-6{
    background: var(--bg-features-1);
    padding: 4rem;
    border-radius: 1.5rem;
}

.features_wrappper .ft-6:before{
    content: url(../images/flexible.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

/* ----------------Pricing-section-styling--------------------- */
.pricing_wrapper{
    padding: 10rem 0 0;
}

.pricing_wrapper .pricing_subtitle{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--text-light-3);
}

.pricing_wrapper .pricing_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.25;
    margin-bottom: 2.5rem;
    color: var(--text-black);
}

.pricing_wrapper .pricing_card{
    background: var(--bg-white);
    box-shadow: 0 1px 20px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 4.5rem 4rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.pricing_wrapper .pricing_card:hover{
    box-shadow: 0 2px 29px rgb(0 0 0 / 20%);
    z-index: 5;
    cursor: pointer;
}

.pricing_wrapper .pricing_period{
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 0;
    color: var(--text-light-2);
}

.pricing_wrapper .pricing_card img{
    max-width: 75%;

}

.pricing_wrapper .pricing_rate{
    font-size: 3.4rem;
    font-family: var(--secondary-font);
    font-weight: 800;
    color: var(--text-black);
   line-height: 1.25;
}

.pricing_wrapper .pricing_text{
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--text-black);
    margin: 0 ;

}

.pricing_wrapper .pricing_all{
    text-align: center;
    width: 100%;
    display: flex;
    margin: 1.5rem 0;
}

.pricing_wrapper .pricing_all ul{
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
}

.pricing_wrapper .pricing_all li{
    font-size: 1.4rem;
    color: var(--text-dark-gray);
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    margin-top: 0.5rem;
}

.pricing_wrapper .pricing_all li strike{
    color: var(--text-light-4);
}

.pricing_wrapper .learn-more-btn {
    background: var(--bg-dark-green);
    border-color: var(--bg-dark-green);

}

.pricing_wrapper .featured{
    box-shadow:  0 2px 40px rgb(0 0 0 /5%);
    background-color: var(--bg-white);
    border: 0.5rem solid var(--text-black);
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.pricing_wrapper .pricing_ribbion{
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 20;
}

.pricing_wrapper .pricing_ribbion span{
    font-family: var(--secondary-font);
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    background: var(--bg-black);
    color: var(--text-white);
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-transform: uppercase;
    text-align: center;
    right: -45px;
    top: 30px;
    transform: rotate(-45deg);
}

.pricing_wrapper .btn_featured{
    background-color: var(--bg-black);
    border-color: var(--bg-black);
}
.pricing_wrapper .featured .pricing_rate{
    font-size: 4rem;
}

/* ----------------Free-trial-styling--------- */

 .free_trial{
    background-color: var(--bg-light-2);
    padding: 8rem 0;
    margin-top: 10rem;
}

.free_trial .free_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.25;
    margin-bottom: 0;
    color: var(--text-black);
}

.free_trial .learn-more-btn{
    background: var(--bg-black);
    border-color: var(--bg-black);
}

.free_trial .learn-more-btn i{
    font-size: 2.2rem;
    margin-right: 0.5rem;
    color: var(--text-yellow);
    vertical-align: bottom;
}

/* ---------------------Testimonials-section-styling------------------ */

.testimonial_wrapper{
    padding: 10rem 0;
}

.testimonial_wrapper .testimonials_subtitle{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--text-light-3);
}

.testimonial_wrapper .testimonials_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.25;
    margin-bottom: 8rem;
    color: var(--text-black);
}

.testimonial_wrapper .testimonials_card{
    border-radius: 1.5rem;
    padding: 5rem;
    background-color: var(--bg-white);
    box-shadow: 0 5px 40px rgb(0 0 0 / 15%);
}

.testimonial_wrapper .testimonials_card h3{
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--text-black);
}

.testimonial_wrapper .testimonials_card .testimonials_role{
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2.5rem;
    color: var(--text-dark-green);
}

.testimonial_wrapper .testimonials_card .testimonials_text{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
}

/* -----------------Brand-section-styling---------------- */

.brand_wrapper{
    padding: 10rem 0;
    background-color: var(--bg-light-2);
}
.brand_wrapper .brand_subtitle{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--text-light-3);
}

.brand_wrapper .brand_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 2.5;
    margin-bottom: 2.5rem;
    color: var(--text-black);
}

.brand_wrapper .showcase_card img{
    width: 100%;
    border-radius: 1.5rem;
    padding: 4.5rem 2.5rem;
    background-color: var(--bg-white);
    box-shadow: 0 5px 40px rgb(0 0 0 / 8%);
    transition: 0.7s;

}

.brand_wrapper .showcase_card img:hover{
    transform: scale(1.2);
    position: relative;
    z-index: 2;
}

/* --------------Faqs-section-styling---------- */
.faq_wrapper{
    padding: 10rem 0 0;
}

.faq_wrapper .faq_subtitle{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5px;
    color: var(--text-light-3);
}

.faq_wrapper .faq_title{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.25;
    margin-bottom: 2.5rem;
    color: var(--text-black);
}

.faq_wrapper .accordion-button:hover,
.faq_wrapper .accordion-button:focus{
    box-shadow: none;
    color: var(--text-dark-green);
}

.faq_wrapper .accordion-item{
    border: 0;
}

.faq_wrapper .accordion-button{
    font-size: 2.1rem;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--text-black);
    background: var(--bg-white);
    border-radius: 0;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid var(--text-light-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.faq_wrapper .accordion-button::after{
    content: '\002B';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    background-image: none;
}
.faq_wrapper .accordion-button:not(.collapsed)::after{
    content: '\2212';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    background-image: none;
    font-weight: 800;
    transform: unset;
}

.faq_wrapper .accordion-body{
    color: var(--text-black);
    font-size: 1.5rem;
    font-weight: 600;
    margin:  0 0 2rem 0;
    padding-bottom: 2.5rem;
    line-height: 1.5;
    
}